
__pycache__
*.sync-conflict-*
.DS_Store
*.swp
*.db
*.db-shm
*.db-wal
*.pickle
log.txt
*.synclock
*.log
*.pid
secrets.yaml

bazarr/backup
bazarr/log

Jellyfin/data
Jellyfin/metadata
Jellyfin/log

prowlarr/Definitions

qbittorrent/qBittorrent/BT_backup
qbittorrent/qBittorrent/logs

**/MediaCover
**/logs
**/Backups
**/asp
**/keypairs
**/Tokens
