
__pycache__
*.sync-conflict-*
.DS_Store
*.swp
*.mmdb
*.db
*.db-shm
*.db-wal
*.pickle
log.txt
*.synclock
*.log
*.pid
secrets.yaml
lockfile
releases.txt
*.spl
*.zip
.bash_history

bazarr/backup
bazarr/log

Jellyfin/data
Jellyfin/metadata
Jellyfin/log
Jellyfin/config/dlna

prowlarr/Definitions

qbittorrent/qBittorrent/BT_backup
qbittorrent/qBittorrent/logs
qbittorrent/qBittorrent/nova3

**/MediaCover
**/logs
**/Backups
**/asp
**/keypairs
**/Tokens
**/DataProtection
